<nav class="h-1/2	p-3 shadow-lg bg-indigo-200 border border-indigo-100 rounded-r-lg z-10 absolute top-1/2">
  <ul class="flex flex-col items-center">

    <li (click)="increasePencilSize()">
      <i class="icon increase"></i>
    </li>

    <li class="text-center">
      <span class="inline-block text-lg text-bold">{{ currentPencilSize }}</span>
    </li>

    <li (click)="decreasePencilSize()">
      <i class="icon decrease"></i>
    </li>

    <li (click)="usePencil()">
      <i id="pencil" #pencil class="icon pencil selected" (click)="toggleTools($event.target.id)"></i>
    </li>
    
    <li>
      <input type="color" name="currentColor" id="currentColor" (change)="changeColor($event.target.value)">
    </li>
  </ul>
</nav>