@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './assets/animations.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.icon {
  display: block;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  &.pencil {
    background-image: url(assets/icons/pencil.svg);
  }
  &.increase {
    background-image: url(assets/icons/add.svg);
  }
  &.decrease {
    background-image: url(assets/icons/minus.svg);
  }
  &.eraser {
    background-image: url(assets/icons/eraser.svg);
  }
  &.trash {
    background-image: url(assets/icons/trash.svg);
  }
}

.selected {
  animation: jump 250ms forwards;
  background-color: #A5B4FC;
  border-radius: .4rem;
}

