@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body {
  position: relative;
  min-height: 100vh;
}